################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ApiGateways/OcelotApiGateways/bin/Debug/net8.0
/ApiGateways/OcelotApiGateways/obj
/ApiGateways/Shopping.Aggregator/bin/Debug/net8.0
/ApiGateways/Shopping.Aggregator/obj
/bin
/BuildingBlocks/EventBus.Messages/obj
/BuildingBlocks/EventBus.Messages/bin/Debug/net8.0
/obj
/Services/Basket/Basket.Api/bin
/Services/Basket/Basket.Api/obj
/Services/Catalog/Catalog.Api/bin
/Services/Catalog/Catalog.Api/obj
/Services/Discount/Discount.api/bin
/Services/Discount/Discount.api/obj
/Services/Discount/DiscountGrpc/bin/Debug/net8.0
/Services/Discount/DiscountGrpc/obj
/Services/Ordering/Ordering.Api/bin/Debug/net8.0
/Services/Ordering/Ordering.Api/obj
/Services/Ordering/Ordering.Application/bin/Debug/net8.0
/Services/Ordering/Ordering.Application/obj
/Services/Ordering/Ordering.Domain/bin/Debug/net8.0
/Services/Ordering/Ordering.Domain/obj
/Services/Ordering/Ordering.Infrastructure/bin/Debug/net8.0
/Services/Ordering/Ordering.Infrastructure/obj
